/* Styling for Sign In Form */
.signinform {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    /* background-color: white; */
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 15px 30px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    margin-bottom: 20px;
    height: 45px;
    width: 90%;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 4px solid #DADCE0;
    border-radius: 15px;
    font-size: 16px;
    padding: 0 30px;
    outline: none;
    background: none;
    z-index: 1;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    color: black;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -7px;
    font-size: 12px;
    font-weight: 600;
    z-index: 10;
    left: 3px;
    color: #34495e;
}

::placeholder {
    color: transparent;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #98866f;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: #b9a89e;
    transform: translateY(-2px);
}

.post-info {
    font-size: 20px;
    color: #3e2723;
    margin-left: 30px;

    

}

/* Apply Monograph font to the entire post */
.post {
    font-family: 'Roboto', sans-serif;
    color: #333; /* Ensure text is readable against the background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 20px 18px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
    margin-top: 100px;
    
}

/* Style for post headings */
.post h2 {
    font-size: 30px;
    color: #3e2723; /* Adjust color to complement the font */
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;

}

.post h2 a {
    color: black; 
    text-decoration: none; 
}

.post h2 a:hover {
    color: #98866f;
    text-decoration: underline; 
}

/* Style for post paragraphs */
.post p {
    
    font-size: 18px;
    line-height: 1.6; 
    margin-bottom: 10px;
}

/* Container for the entire contact page */
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Introduction section */
.introduction {
    margin-bottom: 20px;
}


.introduction p {
    font-size: 20px;
    line-height: 1.5;
    margin-top:100px;
    margin-left :60px;
}

/* Contact information section */
.contact-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-left :60px;
}

.contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links a {
    margin-right: 10px;
}

.contact-links img {
    width: 40px; 
    height: auto;
}

/* Hover effect for contact links */
.contact-links a:hover img {
    opacity: 0.7;
}

/* Styling for the h2 tag */
#profile-info h2 {
    font-size: 25px; 
    margin: 0;
    float: right;
}

/* Styling for the profile-info section */
#profile-info {
    padding: 80px; 
    display: grid; /* Use Grid layout */
    justify-content: end;
}

#edit-post-form{
    padding: 20px;
    background-color: blanchedalmond;
    margin-top:80px;

}

#write-form {
    padding: 20px; 
    background-color: blanchedalmond;
    margin-top:100px; 
    margin-bottom:30px;

    
}

#write-form form {
    max-width: 800px; 
    margin: 0 auto; 
}

#write-form h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

#write-form label {
    font-weight: bold; 
}

#write-form input[type="text"],
#write-form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#write-form textarea {
    resize: vertical; 
}

#write-form button[type="submit"] {
    background-color: #98866f;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#write-form button[type="submit"]:hover {
    background-color: #b9a89e;
}

.comments {
    padding-top: 7px;
    margin-top: 30px;
}

.comment {
    padding: 10px;
    padding-bottom: 20px; 
    margin-bottom: 20px;
    overflow-y: auto;
    margin-top:10px;
    color:white; /* color of the title */
    border: 5px seagreen;
    background-color: seagreen;


}

.comment p {
    margin: 5px 0;
}

.comments h3{
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
    font-family: italic;
    font-style:italic;
}


.comment p strong {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

.add-comment-form {
    margin-top: 20px;
}

.add-comment-form textarea {
    width: 100%;
    margin-bottom: 10px;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-actions {
    text-align: right;
}


/* Styling for the comments section */
.comments-section {
    margin-top: 20%; 
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid darkseagreen;
    display: flex;
    flex-direction: column;
}

/* Styling for the form elements */
#comment-form {
    display: flex;
    flex-direction: column;
    align-items:end; 
    margin-top: 20%; 
    max-width: 50%; 
    border: 1px solid darkseagreen;
}
.add-comment-form textarea::placeholder {
    color: #999;
    font-style: italic; 
    font-size: 16px; 
}


.add-comment-btn{
    padding: 10px 20px; 
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left:30px;

}

input[type="text"],
textarea {
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 100%; 

}

textarea {
    height: 120px; 
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px; 
    font-size: 16px;
    background-color: #98866f;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self:end; 
    width: auto;
}

button[type="submit"]:hover {
    background-color: #b9a89e; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-post-btn {
    background-color: indianred;
    color: white;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:15px;
    font-style:oblique;

}

.delete-post-btn:hover {
    background-color: crimson;
}

.edit-post-btn {
    background-color: dodgerblue;
    color: white;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:3px;
    font-style:oblique;
}

.edit-post-btn:hover {
    background-color: royalblue;
}


/* General button styling */
button {
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

/* Delete comment button styling */
.delete-comment-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-style:oblique;
}
.delete-comment-btn:hover {
    background-color: darkred;
}



/* Delete button container */
.comment-actions {
    display: flex;
    justify-content: flex-end;
}

/* Styling for the greeting */
#greeting {
    font-size: 36px; /* Larger font size for prominence */
    font-style: italic; /* Italicize text for emphasis */
    color: #3e2723; /* Dark color for contrast */
    margin: 0; /* Remove default margin */
    font-weight: bold; /* Make text bold */
    line-height: 1.2; /* Adjust line height for readability */
}